<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find-bananas_new_front</title>
    <link rel="stylesheet" href="/find_bananas/static/find_bananas/style_new.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Flaticon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DCK7N7PVHQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-DCK7N7PVHQ');
    </script>
</head>

<body>
    <!-- <object type="text/html" data="header.html"></object> -->
    <!-- #include virtual="/find-bananas_new_front/header.html" -->
    <div class="fullPage">
        <header>
            <nav>
                <div class="logo">
                    <a href="https://find-bananas.com"><img src="/find_bananas/static/Assets/Find-Bananas logo.svg" alt="Logo Find Bananas"></a>
                </div>
                <ul class="links">
                    <li><a id="tutorialLink">Tutorial</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div class="play-section">
            <button class="white-button" onClick="toggleContainer()" name="play">Play !</button>
            
            <div class="instruction" style="display:none;">
                <p class="instruction-text">Are you ready for round 1?<br><span>Count how many bananas you can see.</span></p>
            </div>
            
            <div class="countdown-container" style="display:none;">
                <p class="countdown-number">3</p>
            </div>
        </div>

        <!-- Collapsed content -->
        <div class="game-container" id="game">

                <!-- Images -->
                <div id="image1" style="display:none;" class="banana-image">
                    <img src="/find_bananas/static/images/bananas_of_the_day_round1_2023-05-23-12-00-00.png"/>
                </div>

                <div id="image2" style="display:none;" class="banana-image">
                    {% with image_name='images/bananas_of_the_day_round2_'|add:dico.date|add:'.png' %}
                    <img src="{% static image_name %}"/>
                    {% endwith %}
                </div>
                <div id="image3" style="display:none;" class="banana-image">
                    {% with image_name='images/bananas_of_the_day_round3_'|add:dico.date|add:'.png' %}
                    <img src="{% static image_name %}"/>
                    {% endwith %}
                </div>

                <!-- Answers inputs -->
                <div class="answer-content" id="input1" style="display:none;">
                    <label class="h1-answer">How many bananas?</label>
                    <div class="input-line">
                        <input type="number" id="guess_number1" placeholder="20-50" min="0" max="1000">
                        <img src="/find_bananas/static/Assets/la-bananas.svg" alt="la-bananas">
                    </div>
                    <button onClick="validRound1({{dico.round1.number}})" class="submit-button">Validate</button>
                </div>
                <div class="answer-content" id="input2" style="display:none;">
                    <label class="h1-answer">How many bananas?</label>
                    <div class="input-line">
                        <input type="number" id="guess_number2" placeholder="50-100" min="0" max="1000">
                        <img src="/find_bananas/static/Assets/la-bananas.svg" alt="la-bananas">
                    </div>
                    <button onClick="validRound2({{dico.round2.number}})" class="submit-button">Validate</button>
                </div>
                <div class="answer-content" id="input3" style="display:none;">
                    <label class="h1-answer">How many bananas?</label>
                    <div class="input-line">
                        <input type="number" id="guess_number3" placeholder="100-200" min="0" max="1000">
                        <img src="/find_bananas/static/Assets/la-bananas.svg" alt="la-bananas">
                    </div>
                    <button onClick="validRound3({{dico.round3.number}})" class="submit-button">Validate</button>
                </div>

                <!-- <div id="input2" style="display:none;">
                    <form method="post" id="form2" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label class="h1-answer">How many bananas ?</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="How many bananas ?">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="number" id="guess_number2" placeholder="50-100">
                    </div>
                    <button onClick="validRound2({{dico.round2.number}})" type="submit" class="btn btn-primary mb-2">Validate</button>
                    </form>
                </div> -->
                
                <!-- Game results -->
                <div id="result1" style="display:none;" class="game-results">
                    <div>
                        <p id="text-result1" class="result-number"></p>
                        <img src="/find_bananas/static/Assets/la-bananas.svg" alt="la-bananas">
                    </div>
                    <p class="result-gap-sentence">Banana gap</p>
                    <p id="text-banana1" class="result-right-number"></p>
                </div>
                <div id="result2" style="display:none;" class="game-results">
                    <div>
                        <p id="text-result2" class="result-number"></p>
                        <img src="/find_bananas/static/Assets/la-bananas.svg" alt="la-bananas">
                    </div>
                    <p class="result-gap-sentence">Banana gap</p>
                    <p id="text-banana2" class="result-right-number"></p>
                </div>
                <div id="result3" style="display:none;" class="game-results">
                    <div>
                        <p id="text-result3" class="result-number"></p>
                        <img src="/find_bananas/static/Assets/la-bananas.svg" alt="la-bananas">
                    </div>
                    <p class="result-gap-sentence">Banana gap</p>
                    <p id="text-banana3" class="result-right-number"></p>
                </div>

                 <!-- Next round button -->
                 <div id="round2" style="display:none;">
                    <button onClick="showImage2()" type="button" class="submit-button">Let's start round 2</button>
                </div>
                <div id="round3" style="display:none;">
                    <button onClick="showImage3()" type="button" class="submit-button">Let's start round 3</button>
                </div>

                <!-- Game end -->
                <div id="congrats" style="display:none;">
                    <p id="score"></p>
                </div>
                <div id="share" style="display:none;">
                    <button onClick="copyText({{dico.round1.number}}, {{dico.round2.number}}, {{dico.round3.number}})" type="submit" class="btn btn-primary mb-2">Share</button>
                </div>
        </div>
    </div> <!-- end fullPage -->

    <div class="modal-container" id="tutorialModal">
        <div class="modal-content">
            <div class="close-button"><i class="fas fa-times"></i></div>
            <button class="modal-button modal-prev-button"><i class="fas fa-chevron-left"></i></button>
            <div>
                <div class="modal-step" data-step="1">
                    <div class="circle-container">
                        <img src="/find_bananas/static/Assets/Banana-3D-02.svg" alt="Step 1 Image">
                    </div>
                    <h2>Welcome to <span class="text-regular">Find</span>Bananas</h2>
                    <p>A simple game, in 3 rounds where you have to guess <b>the exact number of bananas</b> that will appear on your screen during <b>5 seconds</b></p>
                </div>
                <div class="modal-step" data-step="2">
                    <div class="circle-container">
                        <img src="/find_bananas/static/Assets/Banana-3D-03.svg" alt="Step 1 Image">
                    </div>
                    <h2>Play, share<br>&amp; come back tomorrow</h2>
                    <p>3 rounds per day is the most you can do. <b>Share your score</b> with friends and <b>come back tomorrow.</b></p>
                </div>
                <div class="modal-step" data-step="3">
                    <div class="circle-container">
                        <img src="/find_bananas/static/Assets/Banana-3D-04.svg" alt="Step 1 Image">
                    </div>
                    <h2>The banana gap</h2>
                    <p>What counts in the end is the <b>banana gap between reality and your answer over the 3 rounds.</b></p>
                </div>
                <div class="dots-container">
                    <span class="dot" data-step="1"></span>
                    <span class="dot" data-step="2"></span>
                    <span class="dot" data-step="3"></span>
                </div>
            </div>
            <button class="modal-button modal-next-button"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>

    <footer>
        <!-- Footer content here -->
    </footer>

    <!-- Your JavaScript code for game logic goes here -->
    <script src="/find_bananas/static/find_bananas/functions.js"></script>

</body>
</html>
